.filter-siturate {
  filter: saturate(20%);
}

.filter-contrast {
  filter: contrast(60%);
}

.filter-blur {
  filter: blur(0.3rem);
}

.filter-brightness {
  filter: brightness(200%)
}

.filter-grayscale {
  filter: grayscale(0.8);
}

.filter-sepia {
  filter: sepia(100%)
}

.filter-multiple {
  filter: blur(0.2rem) invert(10%) hue-rotate(90deg);
}