@media (width <= 375px) { 
    .card__title { 
        padding: 4px 10px 6px 10px;
    }

    .text-name-language { 
        padding: 25px 11px 0 0;
    }

    .card__content { 
        padding: 26px 25px;
    }

    .pixel { 
        padding: 26px 27px;
    }

    .footer__floppy-disk { 
        flex-direction: column;
        padding: 12px 21px;
    }
    .footer__floppy-disk  svg { 
        width: 28px;
        height: 28px;
    }
}