/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root { 
    --system-font-main: "Inter Variable", sans-serif;
    --component-font-accent: "Press Start 2P", fantasy;
    /* weights */
    --system-main-weight: 400;
    --component-bold-weight: 700;
    /* sizes */
    --component-size-medium: 18px;
    --component-size-small: 14px;
    --component-size-title: clamp(3.0625rem, 1.8943rem + 4.9844vw, 4.0625rem);
    --component-size-subtitle:  clamp(0.875rem, 0.2179rem + 2.8037vw, 1.4375rem);
    /* main colors */
    --system-color-accent: #000;
    --system-color-border: #000;
    --system-color-background: #fff;
    --system-shadow-color: #fff;
    --system-color-backdrop: rgba(0, 0, 0, 0.75);
    /* heart */
    --component-color-sparks: #ff0000;
    --component-color-fill: #ff0000;
    --component-color-countor: #000;
    /* backround */
    --system-background-gradient: repeating-linear-gradient(90deg, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #a1a1a1 100%);
}